@import "variables/variables";
@import "base/normalize";
@import "base/grid-system";
@import "base/web-font";
@import "plugins/plugins";
@import "mixin/mixin";
@import "components/components";
@import 'form/form';
@import "layouts/layouts";
@import "helpers/helpers";

.intro_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.slider_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  position: relative;
}

.slider {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;
  border: 1px solid grey;
}
