@import "variables/variables";
@import "base/normalize";
@import "base/grid-system";
@import "base/web-font";
@import "plugins/plugins";
@import "mixin/mixin";
@import "components/components";
@import 'form/form';
@import "layouts/layouts";
@import "helpers/helpers";

h1 {
  color: rgb(40, 177, 234);
}

.intro_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 380px) {
  .slider_container {
    display: none;
  }
}

.slider {
  width: 100%;
  max-width: 800px;
  min-width: 380px;
  height: auto;
  display: block;
  border: 1px solid grey;
}

.canvasText {
  margin: 0.5rem;
  color: grey;
}

.loading {
  width: 32px;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
